<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
</startup>

  <appSettings>
    <!-- <add key="MonitoredPath" value="\\zpl13dev03\UNS_Output\UNS5.0_Builds\User\ftw637\"/>
    <add key="MonitoredFiles" value="**\*.msi|**\*.iso"/>  -->

     <add key="MonitoredPath" value="C:\Users\astral\Documents\3DMark"/>
     <add key="MonitoredFiles" value="**\*.txt"/>
  </appSettings>
</configuration>